body {
  background-image: url("https://www.peru.travel/Portals/_default/que-hacer/naturaleza/areas-naturales/reserva-pacaya/banner_reserva_pacaya_pp_ra.jpg");
  background-repeat: no-repeat;
}

p.parra {
  border: 5px solid hsl(0, 80%, 50%) ;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

p.parra2 {
  border: 5px solid tomato;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
}
p.parra3 {
  border: 5px solid tomato;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

p.parra4 {
  border: 5px solid hsl(0, 80%, 50%) ;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-left: 8px;
}


p.subtitulos{ 
  font-size: 25px;
  color:Tomato
}


h1 {
  font-size: 55px;
  text-align: center;
  color: DodgerBlue
}

h2{
 font-size: 45px;
  color:hsl(0, 80%, 50%);

}


	div {
  
 	 margin: 100px 100px 100px 100px;
	}



	ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: hsl(0, 80%, 50%);
       }

       li {
       float: left;
        border-right:1px solid #bbb;
      }

       li:last-child {
       border-right: none;
      }

       li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
      }

       li a:hover:not(.active) {
       background-color:hsl(0, 60%, 50%) ;
      }

      .active {
       background-color: red;

     }

#reloj { width: 150px; height: 30px; padding: 5px 10px; border: 5px solid Tomato ; 
         font: bold 1.5em dotum, "lucida sans", arial; text-align: center;
         float: center; margin: 1em 3em 1em 1em; }	



